
/* 
    Created on : 2-Feb-2017, 8:37:48 PM
    Author     : robin
*/
*{
    margin: 0;
    padding: 0;
}
html, body{
    background: linear-gradient(to top right, hsl(220,50%,40%), hsl(220,20%,80%));
    background-repeat: no-repeat;
    height: 100%;
}
#mainBox {
    width: 500px;
    margin: 200px auto;
    border: 1px solid blue;
    text-align: center;
    box-sizing: border-box;
    background-color: hsl(300,100%,50%);
}
#tempBox{
    border: 1px solid blue;
}
#weeklyForecast{
    border: 1px solid blue;
}
#city{
    padding: 30px 0px 20px 10px;
    border: 1px solid blue;
}
#weatherIcon{
    
}
#description{
    font-size: 12px;
}
#temp_max{
    font-size: 40;
}
.day {
    border: 1px solid blue;
    //text-align: center;
}
.dayOfWeek{
    text-align: center;
}