
/* 
    Created on : 2-Feb-2017, 8:37:48 PM
    Author     : robin
*/
*{
    margin: 0;
    padding: 0;
}
html{
    background: linear-gradient(to top right, hsl(240,100%,20%), hsl(220,20%,90%));
    background-repeat: no-repeat;
    height: 100%;
}
body{ 
    color: white;
    font-weight: 700;
    background: transparent ;
}
#mainBox {
    width: 500px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    box-sizing: border-box;
}
#tempBox{
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-radius: 0px 0px 25px 25px;
}
#weeklyForecast{
    height: 100px;
}
#city{
    padding: 30px 0px 20px 10px;
    border: 3px solid white;
    border-radius: 25px 25px 0px 0px;
    font-size: 30pt;
    text-transform: uppercase;
    font-weight: 800;
}
#weatherIcon{
    padding: 10px;
}
#description{
    font-size: 12px;
}
#currentTemp{
    font-size: 50pt;
    font-weight: 900;
}
#temp_max{
    font-size: 25pt;
    font-weight: 600;
}
#temp_min{
    font-size: 25pt;
    font-weight: 600;
}
.day{
    height: 100%;
    border-top: 3px solid white;
    text-transform: uppercase;
}
#weatherIcon{
    padding: 20px;
}
#day5name{
    text-align: center;
}